body, html {
    width: 100%;
    height: 100%;
    background-color: black;
}

/* header */

header {
    width: 100%;
    position: fixed;
    min-width: 320px;
    background: transparent;
    height: auto;
}

header #header-logo {
    margin-left: 8%;
    margin-top: 1%;
}

header #header-btn {
    position: absolute;
    left: 3%;
    top: 40%;
}

/* article */

article {
    text-align: center;
    height: 90%;
}

article #background {
    height: 95%;
    margin-top: 5%;
}

article .position_icon {
    position: absolute;
}

article .position_icon>img:hover {
    width: 55px;
}

.positionStyle {
    filter: invert(100%);
    background-color: gray;
    background-size: 100px;
    border: 6px solid gray;
    border-radius: 50%;
    box-shadow: 0 0 16px black;
}

.clickPositionStyle{
    width: 55px;
    filter: invert(0%);
    background-color: white;
    background-size: 100px;
    border: 6px solid white;
    border-radius: 50%;
    box-shadow: 0 0 16px white;
}

/* footer */

footer {
    position: relative;
    overflow: hidden;
    display: table;
    clear: both;
    background: #272727;
    width: 100%;
    height: 10%;
}

footer>div {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

footer .sns {
    line-height: 10px;
}

footer .sns .clearfy {
    margin-left: 20px;
}

footer .sns li {
    float: left;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

footer .sns .main {
    background: url(../icon/home.svg);
    background-position: center;
    background-size: 93%;
    filter: invert(100%);
}

footer .sns .main:hover {
    background: url(../icon/home.svg);
    background-position: center;
    background-size: 92%;
    background-color: gray;
    filter: invert(0%);
}

footer .sns .youtube {
    background: url(../icon/youtube.svg);
    background-position: center;
    background-size: cover;
    filter: invert(100%);
}

footer .sns .youtube:hover {
    background: url(../icon/youtube.svg);
    background-position: center;
    background-size: cover;
    background-color: gray;
    filter: invert(0%);
}

footer .sns .instagram {
    background: url(../icon/instagram.svg);
    background-position: center;
    background-size: cover;
    filter: invert(100%);
}

footer .sns .instagram:hover {
    background: url(../icon/instagram.svg);
    background-position: center;
    background-size: cover;
    background-color: gray;
    filter: invert(0%);
}

footer .sns .facebook {
    background: url(../icon/facebook.svg);
    background-position: center;
    background-size: cover;
    filter: invert(100%);
}

footer .sns .facebook:hover {
    background: url(../icon/facebook.svg);
    background-position: center;
    background-size: cover;
    background-color: gray;
    filter: invert(0%);
}

footer .sns .twit {
    background: url(../icon/twitter.svg);
    background-position: center;
    background-size: cover;
    filter: invert(100%);
    
}

footer .sns .twit:hover {
    background: url(../icon/twitter.svg);
    background-position: center;
    background-size: cover;
    background-color: gray;
    filter: invert(0%);
}

footer .sns li a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: grey;
}

footer .family-site div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 25%;
    text-align: center;
}

footer .family-site div>a>h3 {
    text-align: center;
    font-family: 'InfinitySans-BoldA1';
    font-size: 20px;
    text-transform: uppercase;
    color: #929191;
}

footer .copyright {
    font-size: 10px;
    font-family: 'Camber-M';
    color: #6b6b6b;
    text-align: right;
    text-transform: uppercase;
}


footer .copyright p span {
    white-space: nowrap;
}

#last {
    margin-right: 20px;
}